{% extends  "modelo.html" %}
{% block conteudo %}
<div>
    <img src="static/imagens/python.png" alt="Icone do python" style="width: 100px">
    <h1> Suporte de Fundamentos em Python</h1>
</div>
    <!-- Conceito -->
<div style="border: 1px solid black">
    <h2> ✩ Conceito </h2>
    <div style="width: 525px">
        <p>Python é uma linguagem de programação interpretada, de alto nível e orientada a objetos, com uma sintaxe simples e fácil de ler. É amplamente utilizada em diversas áreas, como desenvolvimento web, ciência de dados, machine learning, automação e computação científica. </p>
    </div>
</div>



{% endblock %}